
.services h1{
    margin-top: 135px;
   color: rgb(68, 13, 179);
}

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 120px 20px;
    gap: 120px;
}

.service-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 120px;
}

.service-format{
    padding: 30px;
    border: 2px solid aqua;
}