.mywork{
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    margin: 100px;
}

.mywork h1{
    margin-top: 140px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mywork-container{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.read-showmore p{
    font-weight: 600;
    gap: 15px;
    padding: 40px;
    border-radius: 170px ;
    border: 1px burlywood solid;
    cursor: pointer;
}